@using RH.Entidades;

@model NOM_Facturacion
@{ 

    NOM_FacturacionSindicato modelS = new NOM_FacturacionSindicato();
    var modeloC = ViewBag.modeloC;
    modelS = ViewBag.modeloS;


}
<ul class="nav nav-tabs">
    <li class="active"><a href="#fiscal-tab" data-toggle="tab">Factura Fiscal <i class="fa"></i></a></li>
    <li><a href="#complemento-tab" data-toggle="tab">Factura Complemento <i class="fa"></i></a></li>
    <li><a href="#sindicato-tab" data-toggle="tab">Factura Sindicato <i class="fa"></i></a></li>
</ul>
@*Panle de Fiscal*@
<div class="tab-content">
    <div class="tab-pane active" id="fiscal-tab">
      <div class="col-md-12">
          <div class="form-group" style="text-align:center">
              <div class="col-md-12">
                  <h4> </h4>
              </div>
          </div>
          <div class="form-group">
              <label class="col-md-6">Cuota IMSS- Infonavit</label>

              <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control"style="text-align:right; width:100%;" value="@String.Format("{0:###,###,##0.##}",Model.F_Cuota_IMSS_Infonavit)" disabled>
                  <input type="hidden" class="form-control" name="F_Cuota_IMSS_Infonavit" id="F_Cuota_IMSS_Infonavit" style="text-align:right; width:100%;" value="@Model.F_Cuota_IMSS_Infonavit">
              </div>


          </div>
          <div class="form-group">
              <div class="col-md-6"><label>Impuesto sobre Nómina</label></div>
              <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control"  style="text-align:right; width:100%;" value="@String.Format("{0:###,###,##0.00}",Model.F_Impuesto_Nomina)" disabled>
                  <input type="hidden" class="form-control" name="F_Impuesto_Nomina" id="F_Impuesto_Nomina" style="text-align:right; width:100%;" value="@Model.F_Impuesto_Nomina">
              </div>

          </div>
          <div class="form-group">
              <div class="col-md-6"><label>Amortización Infonavit</label></div>
              <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" style="text-align:right; width:100%;"value="@String.Format("{0:###,###,##0.00}",Model.F_Amortizacion_Infonavit)" disabled>
                  <input type="hidden" class="form-control" name="F_Impuesto_Nomina" id="F_Impuesto_Nomina" style="text-align:right; width:100%;"  value="@Model.F_Amortizacion_Infonavit" >
              </div>

          </div>
          <div class="form-group">
              <div class="col-md-6"><label>Fonacot</label></div>
              <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" style="text-align:right; width:100%;" value="@String.Format("{0:###,###,##0.00}",Model.F_Fonacot)" disabled >
                  <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@Model.F_Fonacot" name="F_Fonacot" id="F_Fonacot">
              </div>

          </div>
          <div class="form-group">
              <div class="col-md-6"><label>Pensión Alimenticia</label></div>
              <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" style="text-align:right; width:100%;" value="@String.Format("{0:###,###,##0.00}",Model.F_Pension_Alimenticia)" disabled >
                  <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@Model.F_Pension_Alimenticia" name="F_Pension_Alimenticia" id="F_Pension_Alimenticia">
              </div>

          </div>
          <div class="form-group">
              <div class="col-md-6"><label>Relativo</label></div>
              <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" style="text-align:right; width:100%;" value="@String.Format("{0:###,###,##0.00}",Model.F_Relativo)" disabled >
                  <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@Model.F_Relativo" name="F_Relativo" id="F_Relativo">
              </div>

          </div>
          <div class="form-group">
              <div class="col-md-6"><label>Percepciones</label></div>
              <div class="input-group">
                  <span class="input-group-addon">$</span>
                  
                  <input type="text" class="form-control" style="text-align:right; width:100%;" value="@String.Format("{0:###,###,##0.00}",Model.F_Total_Nomina)" disabled>
                  <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@Model.F_Total_Nomina" name="F_Total_Percepciones" id="F_Total_Percepciones">
              </div>

          </div>
          <div class="form-group">
              <div class="col-md-6"><label>Total General</label></div>
              <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input type="text" class="form-control" style="text-align:right; width:100%;" value="@String.Format("{0:###,###,##0.00}",Model.F_Total_Fiscal)" disabled>
                  <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@Model.F_Total_Fiscal" name="F_Total_Fiscal" id="F_Total_Fiscal">
              </div>

          </div>
      </div>
    </div>
        @*Panel de Complemento*@
    
    <div class="tab-pane" id="complemento-tab" data-idempresac="@modeloC.IdEmpresaC">
     <div class="col-md-12">
         <div class="form-group" style="text-align:center">
             <div class="col-md-12">
                 <h4> </h4>
             </div>
         </div>
        
       
             <div class="col-md-12">
                 <div class="col-md-6">
                     <div class="form-group">
                         <div class="col-md-8"><label>% de Servicio</label></div>
                         <div class="input-group col-md-12">
                             <span class="input-group-addon">%</span>
                             <input type="text" class="form-control"  style="text-align:right;" value="@modeloC.C_Porcentaje_Servicio" onkeyup="Operacion()" name="C_Porcentaje_Servicio" id="C_Porcentaje_Servicio">
                         </div>
                     </div>
                  
                      
                 </div>
                 <div class="col-md-6">
                     <div class="form-group">
                         <div class="col-md-8"><label>Total Servicio</label></div>
                         <div class="input-group col-md-12">
                             <span class="input-group-addon ">$</span>
                             <input type="text" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Total_Servicio" id="C_Total_Servicio" disabled>
                             <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Total_Servicio" name="C_Total_Servicio" id="C_Total_Servicio">
                         </div> 
                     </div>
                     
                 </div>
                </div>
         <div class="form-group">
             <label class="col-md-6">Percepciones</label>

             <div class="input-group">
                 <span class="input-group-addon">$</span>
                 <input type="text" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Percepciones" onkeyup="Operacion()" name="C_Percepciones" id="C_Percepciones">
             </div>


         </div>
         <div class="form-group">
             <div class="col-md-6"><label>Cuota IMSS - Infonavit</label></div>
             <div class="input-group">
                 <span class="input-group-addon">$</span>
                 <input type="text" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Cuotas_IMSS_Infonavit" onkeyup="Operacion()" name="C_Cuotas_IMSS_Infonavit" id="C_Cuotas_IMSS_Infonavit">
             </div>

         </div>
         <div class="form-group">
             <div class="col-md-6"><label>Impuesto sobre Nómina</label></div>
             <div class="input-group">
                 <span class="input-group-addon">$</span>
                 <input type="text" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Impuesto_Nomina" onkeyup="Operacion()" name="C_Impuesto_Nomina" id="C_Impuesto_Nomina">
             </div>

         </div>
         <div class="form-group">
             <div class="col-md-6"><label>Relativos</label></div>
             <div class="input-group">
                 <span class="input-group-addon">$</span>
                 <input type="text" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Relativos" id="C_Relativos"  disabled>
                 <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Relativos" name="C_Relativos" id="C_Relativos">
             </div>

         </div>
         <div class="form-group">
             <div class="col-md-6"><label>Descuentos</label></div>
             <div class="input-group">
                 <span class="input-group-addon">$</span>
                 <input type="text" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Descuentos" onkeyup="Operacion()" name="C_Descuentos" id="C_Descuentos">
             </div>

         </div>
         <div class="form-group">
             <div class="col-md-6"><label>Otros</label></div>
             <div class="input-group">
                 <span class="input-group-addon">$</span>
                 <input type="text" class="form-control" style="text-align:right; width:100%;" onkeyup="Operacion()" value="@modeloC.C_Otros" name="C_Otros" id="C_Otros">
             </div>

         </div>
         <div class="form-group">
             <div class="col-md-6"><label>Sub-Total</label></div>
             <div class="input-group">
                 <span class="input-group-addon">$</span>
                 <input type="text" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Subtotal" disabled id="C_Subtotal">
                 <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Subtotal" name="C_Subtotal" id="C_Subtotal">
             </div>

         </div>
         <div class="form-group">
             <div class="col-md-6"><label>Total IVA</label></div>
             <div class="input-group">
                 <span class="input-group-addon">$</span>
                 <input type="text" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Total_IVA" name="C_Total_IVA" id="C_Total_IVA">
             </div>

         </div>
         <div class="form-group">
             <div class="col-md-6"><label>Total Complemento</label></div>
             <div class="input-group">
                 <span class="input-group-addon">$</span>
                 <input type="text" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Total_Complemento" id="C_Total_Complemento"  disabled>
                 <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@modeloC.C_Total_Complemento" name="C_Total_Complemento" id="C_Total_Complemento">
             </div>

         </div>


       
     </div>
    </div>
    @*Panel de Sindicato*@
    <div class="tab-pane" id="sindicato-tab">
        <div class="col-md-12">
            <div class="form-group" style="text-align:center">
                <div class="col-md-12">
                    <h4> </h4>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-8"><label>% de Comisión</label></div>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon">%</span>
                            <input type="text" class="form-control" style="text-align:right;" onkeyup="Operacion()" value="@(modelS.S_Porcentaje_Comision == 0? 0 : modelS.S_Porcentaje_Comision)" name="S_Porcentaje_Comision" id="S_Porcentaje_Comision">
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-8"><label>Total Comisión</label></div>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon ">$</span>
                            <input type="text" class="form-control" style="text-align:right; width:100%;" value="@(modelS.S_Total_Comision == 0 ? 0 : modelS.S_Total_Comision) " disabled id="S_Total_Comision">
                            <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@(modelS.S_Total_Comision == 0 ? 0: modelS.S_Total_Comision) " name="S_Total_Comision" id="S_Total_Comision">
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-6">Percepción Sindicato</label>

                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;" onkeyup="Operacion()" value="@(modelS.S_Percepcion_Sindicato == 0 ? 0: modelS.S_Percepcion_Sindicato) " name="S_Percepcion_Sindicato" id="S_Percepcion_Sindicato">
                </div>


            </div>
      
            <div class="form-group">
                <div class="col-md-6"><label>Percepción Fiscal</label></div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;" onkeyup="Operacion()" value="@(modelS.S_Percepcion_Fiscal == 0 ?0: modelS.S_Percepcion_Fiscal)" name="S_Percepcion_Fiscal" id="S_Percepcion_Fiscal">
                </div>
                
            </div>
            <div class="form-group">
                <div class="col-md-6"><label>Iva Percepción Fiscal</label></div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;" value="@(modelS.S_IVA_Percepcion_Fiscal == 0 ? 0:modelS.S_IVA_Percepcion_Fiscal) " disabled id="S_IVA_Percepcion_Fiscal">
                    <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@(modelS.S_IVA_Percepcion_Fiscal == 0 ? 0: modelS.S_IVA_Percepcion_Fiscal)" name="S_IVA_Percepcion_Fiscal" id="S_IVA_Percepcion_Fiscal">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6"><label>Dif_Montvde</label></div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;" onkeyup="Operacion()"  value="@(modelS.S_Dif_Montvde ==0 ? 0 : modelS.S_Dif_Montvde)" name="S_Dif_Montvde" id="S_Dif_Montvde">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6"><label>Cuota de Legado</label></div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;"  onkeyup="Operacion()" value="@(modelS.S_Cuota_Legado == 0 ? 0: modelS.S_Cuota_Legado)" name="S_Cuota_Legado" id="S_Cuota_Legado">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6"><label>Costo IMSS</label></div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;" onkeyup="Operacion()"  value="@(modelS.S_Costo_IMSS == 0 ? 0:modelS.S_Costo_IMSS)" name="S_Costo_IMSS" id="S_Costo_IMSS">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6"><label>IVA Costo IMSS</label></div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;"  value="@(modelS.S_IVA_Costo_IMSS == 0 ? 0: modelS.S_IVA_Costo_IMSS) "disabled id="S_IVA_Costo_IMSS">
                    <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@(modelS.S_IVA_Costo_IMSS == 0 ? 0: modelS.S_IVA_Costo_IMSS) " name="S_IVA_Costo_IMSS" id="S_IVA_Costo_IMSS">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6"><label>Impuesto Sobre Nómina</label></div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;"  onkeyup="Operacion()" value="@(modelS.S_Total_Porcentaje_Nomina==0 ?0:modelS.S_Total_Porcentaje_Nomina)" name="S_Total_Porcentaje_Nomina" id="S_Total_Porcentaje_Nomina">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6"><label>IVA Impuesto Sobre Nómina</label></div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;"  value="@(modelS.S_IVA_Porcentaje_Nomina == 0 ?0:modelS.S_IVA_Porcentaje_Nomina)" disabled  id="S_IVA_Porcentaje_Nomina">
                    <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@(modelS.S_IVA_Porcentaje_Nomina == 0 ? 0: modelS.S_IVA_Porcentaje_Nomina)" id="S_IVA_Porcentaje_Nomina">
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-6"><label>Total Sindicato</label></div>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" style="text-align:right; width:100%;" value="@(modelS.S_Total_Sindicato==0 ? 0:modelS.S_Total_Sindicato)" disabled id="S_Total_Sindicato">
                    <input type="hidden" class="form-control" style="text-align:right; width:100%;" value="@(modelS.S_Total_Sindicato == 0 ? 0:modelS.S_Total_Sindicato)" name="S_Total_Sindicato" id="S_Total_Sindicato">
                </div>

            </div>

        </div>
    </div>
</div>




