
@using Nomina.BLL
@using RH.Entidades
@model List<EmpleadoNomina>
@{

    var empleadoPeri = ViewBag.empleadoPeri;
    var idPeriodo = ViewBag.idPeriodo;
}

<style>
   .EmpleadoBaja {
       color: red;
   }

   .EmpleadoActivo {
       color: black;
   }

</style>

<table id="empleadosPeriPartial" class="display compact" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Paterno</th>
            <th>Materno</th>
            <th>Nombre(s)</th>
            <th>RFC</th>
            <th title="Fecha Alta">Alta</th>
            <th title="Fecha Imss">Alta Imss</th>
            <th title="Fecha Real">Alta R</th>
        
        </tr>
    </thead>

    <tbody>
        @foreach (var a in Model)
        {
            var labelClass = a.Status == true ? "EmpleadoActivo" : "EmpleadoBaja";

            <tr class="@labelClass" data-idperiodopago="@idPeriodo" data-idempleado="@a.idempleado">
                <td>@a.idempleado</td>
                <td>@a.Paterno</td>
                <td>@a.Materno</td>
                <td>@a.Nombres</td>
                <td>@a.RFC</td>
                <td>@a.FechaAlta.ToString("dd-MM-yyyy")</td>
                <td>@a.FechaAltaImss.ToString("dd-MM-yyyy")</td>
                <td>@a.FechaAltaReal.ToString("dd-MM-yyyy")</td>
            </tr>
        }


            </tbody>
        </table>

        <script>
            $(document).ready(function () {

                var tableDetalle = $('#empleadosPeriPartial').DataTable({
                    dom: 'Bfrtip',
                    "language": {
                        "url": "../scripts/datatables-spanish.json",
                        "select": {
                            "rows": {
                                _: "%d registros seleccionados",
                                0: "Ningun Registro Seleccionado",
                                1: "%d registro seleccionado"
                            }
                        }

                    },

                    "paging": false,
                    "scrollY": "200px",
                    "select": {
                        style: 'multi'
                    }, "buttons": [
                          {
                              className: 'seleccionarall',
                              text: 'Seleccionar: Todos',
                              action: function () {
                                  tableDetalle.rows().select();
                              }, key: {

                                  key: 'a',

                              }
                          },
                      {
                          className: 'seleccionarcero',
                          text: 'Seleccionar: Ninguno',
                          action: function () {
                              tableDetalle.rows().deselect();
                          },
                          key: {
                              key: 'd',

                          }
                      },
                    {
                        className: 'borrarRegistro',
                        text: 'Eliminar',
                        action: function () {

                            arrayE = [];
                            var selected = $("#empleadosPeriPartial").find(".selected");
                            selected.each(function () {
                                var id = parseInt($(this).data("idempleado"));
                                arrayE.push(id);
                            });
                            var IdPeriodo = selected.data("idperiodopago");



                            if (arrayE.length > 0) {
                                var request = $.ajax({
                                    url: "/PeriodosPago/eliminarLista/",
                                    method: "POST",
                                    data: {
                                        arrayE: arrayE,
                                        idPeriodo: IdPeriodo
                                    }
                                });

                                request.done(function (data) {
                                    $("#empleadosDetalles").load("/PeriodosPago/empleadosAgregados/?idPeriodo=" + IdPeriodo);
                                });
                            }


                        },
                        key: {
                            key: 'd',

                        }
                    }]
                });
            });


        </script>