@model RH.Entidades.Incapacidades


@* Este es detalles incapacidad  *@

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 class="modal-title"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> Detalles de la Incapacidad</h3>
</div>
<div class="modal-body ">
    <div class="container">
        <div class="form-horizontal ">
            <div class="col-md-12 col-xs-12">
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-5">No. Empleado</label>
                        <input class="col-md-7" type="text" value="@Model.IdEmpleado" disabled />
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">Folio</label>
                        <input class="col-md-7" type="text" value="@Model.Folio" disabled />
                    </div>
                    <div class="form-group">
                        <label class="col-md-5">Tipo</label>
                        <input class="col-md-7" type="text" value="@Model.Tipo" disabled />

                    </div>
                    <div class="form-group">
                        <label class="col-md-5">Clase</label>
                        <input class="col-md-7" type="text" value="@Model.Clase" disabled />
                    </div>



                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-5">Fecha Inicio</label>
                        <input type="text" class="col-md-7" value="@Model.FechaInicio.ToString("dd/MM/yyyy")" disabled />

                    </div>
                    <div class="form-group">
                        <label class="col-md-5">Fecha Fin</label>
                        <input type="text" class="col-md-7" value="@Model.FechaFin.ToString("dd/MM/yyyy")" disabled />

                    </div>
                    <div class="form-group">
                        <label class="col-md-5">Días</label>
                        <input type="text" class="col-md-7" value="@Model.Dias" disabled />

                    </div>
                    <div class="form-group">
                        <label class="col-md-5">Observaciones</label>
                        <textarea cols="27" style="resize:none;" disabled>@Model.Observaciones</textarea>

                    </div>

                </div>


            </div>
        </div>  
    </div>
    
</div>
<div class="modal-footer">
    <div class="form-actions no-color">
        <button type="button" class="btn btn-primary hovernuevo cerrar" data-dismiss="modal">Cerrar</button>
    </div>
</div>
