
@using RH.BLL;
@using Common.Helpers;
@using Common.Enums;
@using RH.Entidades;
@using SYA.BLL;
@model  List<DatosEmpleadoVacaciones>
@{ 
    List<Plantilla> plantillas = ViewBag.Plantillas;
    int contador = 0;
}
@*<style>
    .modal-dialog {
        width: 1100px !important;
    }

    .panel-heading {
        background-color: #D8D8D8 !important;
        color: black !important;
    }

    small {
        font-size: 13.5px;
    }
</style>*@
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/vacaciones/vacaciones.js"></script>
<script src="~/Scripts/bootstrap-notify.js"></script>
<link href="~/Content/animate.css" rel="stylesheet" />
<table class="table table-condensed" id="registros">
    <thead>
        <tr>
            @*<th style="width:100px">Id Contrato</th>*@
            <th style="width:100px">ID Periodo</th>
            <th style="width:150px">Periodo Vacacional</th>
            <th style="width:150px">Días Correspondientes</th>
            <th style="width:150px">Días Tomados</th>
            <th style="width:180px">Último Periodo</th>
            <th style="width:50px"></th>
            <th style="width:50px"></th>
            <th style="width:50px"></th>

            

        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
        
            <tr>

                @*<td class="tdIdEmpleado">@c.IdEmpContrato</td>*@    
                <td class="tdId">@c.IdPeriodo</td>
                <td class="tdperiodo">@c.PerioVaca</td>
                <td class="tdDiastotales">@c.Dias</td>
                @*@Html.Action("submenuperiodo", "Vacaciones", new { id = c.IdPeriodo ,idcontrato = c.IdEmpContrato})*@
                <td class="tdDiasTomados">@c.DiasTomados</td>
                <td>@c.FechaUltimoPeriodo</td>
                @if (c.periodoCompletado == true)
                {
                    <td style="text-align:center">
                        @if (ControlAcceso.ValidarEjecutarAccion(Modulos.RHVacaciones, AccionCrud.Agregar, SessionHelpers.GetIdUsuario()))
                    {
                            <button type="submit"  disabled data-toggle="tooltip" data-placement="left" title="Generar Vacaciones" class="btn btn-default btnGenerar btn-sm">
                                <i class="glyphicon glyphicon-ok fa-lg" aria-hidden="true"></i>
                            </button>
                        }
                    </td>
                    <td style="text-align: center">
                        @if (ControlAcceso.ValidarEjecutarAccion(Modulos.RHVacaciones, AccionCrud.Consultar, SessionHelpers.GetIdUsuario()))
                    {
                            <a href="#" data-toggle="tooltip" data-placement="rigth" title="Historial " class="btn btn-default btnHistorial btn-sm">
                                <i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i>
                            </a>
                        }
                    </td>
                    <td> <label style="color:#BDBDBD">Completado</label></td>
                }
                else
                {                
                    <td style="text-align:center">
                        @if (ControlAcceso.ValidarEjecutarAccion(Modulos.RHVacaciones, AccionCrud.Agregar, SessionHelpers.GetIdUsuario()))
                    {
                            <a href="#" data-toggle="tooltip" data-placement="left" title="Generar Vacaciones" class="btn btn-primary btnGenerar btn-sm">
                                <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                            </a>
                        }
                    </td>
                    <td style="text-align: center">
                        @if (ControlAcceso.ValidarEjecutarAccion(Modulos.RHVacaciones, AccionCrud.Consultar, SessionHelpers.GetIdUsuario()))
                    {
                            <a href="#" data-toggle="tooltip" data-placement="rigth" title="Historial " class="btn btn-default btnHistorial btn-sm">
                                <i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i>
                            </a>
                        }
                    </td>
                    <td><label style="color:#008000">Activo</label></td>   
                }

             </tr>
        }
    </tbody>
</table>


@*@using (Html.BeginForm("CrearVacaciones", "Vacaciones", FormMethod.Post, new { id = "formulario", name = "formulario", @class = "tooltipForm" }))*@
    @*@using (Ajax.BeginForm("CrearVacaciones", "Vacaciones", new AjaxOptions { OnSuccess = "respuestavacaciones", OnFailure = "OnFailure" }, new { @class = "form-horizontal tooltipForm", id = "formulario", contentType = "application/json" }))
    {*@

    <div class="modal fade" id="modalGenerar" role="dialog">

        <div class="modal-dialog modal-lg">

         
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close btn-danger">X</button>
                    <h4 class="modal-title"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Generar vacaciones del Periodo Vacacional :  <label id="periodo"></label></h4>
                   
                </div>

                <div class="modal-body">
                 
                      <div id="periodo-container"></div>
                              
                </div>
                <div class="modal-footer">
                    <div class="panel-heading text-right"><input type="submit" class="btn btn-primary input-group-sm"id="guardar1" onclick="guardar()" value="Guardar" />
                     <a class="btn btn-danger" data-dismiss="modal" href="">Cancelar</a></div>
                </div>
            </div>

        </div>
    </div>



@*}*@

<div class="modal fade" id="modalHistorial" role="dialog">

    <div class="modal-dialog">

  
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" data-dismiss="modal" class="close btn-danger">X</button>
                <h4 class="modal-title"><i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i> Historial de vacaciones</h4>
               
              <input type="hidden" id="idPeriodo" />
            </div>

            <div class="modal-body">
                            <div id="historial"></div>
               
            </div>
            <div class="modal-footer">
                
                <div class="btn-toolbar pull-right" role="toolbar">

                    <div class="btn-group btn-toolbar-hidden" role="group" id="btn-toolbar-one">
                        <select name="Plantilla" id="Plantilla" class="form-control">
                            @foreach (var item in plantillas)
                            {
                                <option value="@item.Id">@item.NombreArchivo</option>
                            }
                        </select>
                    </div>

                    <!-- Aparece cuando selecciona uno o varios registros -->
                    <div class="btn-group btn-toolbar-hidden" role="group" id="btn-toolbar-many">

                        <a class="btn btn-info" id="btnReporte" data-toggle="boton" data-placement="bottom" data-container="body" title="Reporte">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>
                    </div>


                </div>
                <div class="clearfix"></div>
                
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/datepicker/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/validator/jquery.validate.1.15.js"></script>
<script src="~/Scripts/validator/messages_es.js"></script>
<script src="~/Scripts/validator/TooltipValidator.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12,se-1.2.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12,se-1.2.0/datatables.min.js"></script>


<script>





    $(document).ready(function () {

        var btngenerar = $(".btnGenerar");
        var modalBaja = $("#modalGenerar");
        var btnHistorial = $(".btnHistorial");
        var modalHistorial = $("#modalHistorial");
    
        btngenerar.click(function () {
            var idPeriodo = $(this).parent().parent().find(".tdId").html();
            var idEmpleadocontrato = $(this).parent().parent().find(".tdIdEmpleado").html();
            var nombreperiodo = $(this).parent().parent().find(".tdperiodo").html();
            var idempleado = $("#IdEmpleado").val();

            $("#idPeriodo").html(idPeriodo);
            $("#periodo").html(nombreperiodo);
            $.get("../../Vacaciones/FormVacas?id=" + idPeriodo + "&idEmpleado=0&idemp=" + idempleado  , function (data) {
                $("#periodo-container").html(data);
                modalBaja.modal();
            });

        });

        btnHistorial.click(function () {

            var idPeriodo = $(this).parent().parent().find(".tdId").html();
            var idEmpleadocontrato = $(this).parent().parent().find(".tdIdEmpleado").html();
            var DiasTomados = $(this).parent().parent().find(".tdDiasTomados").html();
            var Diastotales = $(this).parent().parent().find(".tdDiastotales").html();

            $("#idPeriodo").html(idPeriodo);
            document.getElementById('idPeriodo').value = idPeriodo;

            $.get("../../Vacaciones/HistorialByPeriodo?id=" + idPeriodo +"&idcontrato=0&Diastomados="+DiasTomados+"&DiasTotales="+Diastotales, function (data) {
                $("#historial").html(data);
                modalHistorial.modal();
            });

        });


        $('#registros').DataTable({
            "bFilter": false,
            "bLengthChange": false,
            "lengthMenu": [[5, 15, 30], [5, 15, 30]],
            "language": {
                "sInfoFiltered": "(filtrado de un total de _MAX_ Registros Patronales)",
                "sInfo": "Del _START_ al _END_ de un total de _TOTAL_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sLoadingRecords": "Cargando...",
                "sLengthMenu": "Mostrar _MENU_ Registros patronales",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast" : "Último",
                    "sNext" : "Siguiente",
                    "sPrevious" : "Anterior"
                }
            },
       
            "aoColumnDefs": [
         { "bSortable": false, "aTargets": [0,1,2,3,4,5,6,7]},
         { "bSearchable": false, "aTargets": [0,1,2,3,4,5,6,7] }
            ]


        });

    });
    $('a').tooltip();



    function CloseModal() {
        $("#historial").modal("hide");

        window.setTimeout(function () { location.reload() }, 1500);
    }
   

    

</script>




