@using Common.Helpers
@using RH.BLL
@model RH.BLL.SucursalCliente

@{

    var selectListZonas = ViewBag.SelectListZonas;
    var selectListEstados = ViewBag.SelectListEstados;
    var listadoFis = ViewBag.SelectListFis as List<SucursalEmpresas>;
    var listadoAsim = ViewBag.SelectListAsim as List<SucursalEmpresas>;
    var listadoCom = ViewBag.SelectListRPCom as List<SucursalEmpresas>;
    var listadoSin = ViewBag.SelectListRPSIn as List<SucursalEmpresas>;
    var listaRP = ViewBag.ListRP as List<SucursalEmpresas>;

}

<link href="~/Content/tablas/tamaño.css" rel="stylesheet" />

<link rel="stylesheet" href="~/Content/validator/TooltipValidator.css" />
<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<style>
    .modal-dialog {
        width: 1100px !important;
    }

    select.selectpicker {
        display: block !important;
        float: left;
        overflow: hidden;
        height: 34px;
        width: 0;
        border: 0;
        padding: 0;
        box-shadow: none;
        color: white;
    }
</style>
<div id="divContenido2">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="glyphicon glyphicon-pencil"></i> Editar Sucursal</h4>
    </div>

    @using (Html.BeginForm("EditarSucursalVP", "Clientes", FormMethod.Post, new { id = "SucursalFrm", @class = "tooltipForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="panel panel-default" id="edit">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div>
                        @Html.HiddenFor(model => model.IdSucursal, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <div>
                        @Html.HiddenFor(model => model.IdCliente, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4 "> Estado </label>
                            <div class="col-md-8">
                                @HtmlLocalHelper.ComboBox(selectListEstados, "IdEstado", htmlAttributes: new Dictionary<string, object>() { { "data-rule-required", true } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 ">Nombre de la Sucursal </label>
                           @* @Html.LabelFor(model => model.Ciudad, htmlAttributes: new { @class = "col-md-4" })*@
                            <div class="col-md-8">
                                @*@Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input type="text" class="form-control" name="Ciudad" id="Ciudad" value="@Model.Ciudad"
                                       data-rule-required="true"
                                       data-rule-maxlength="50"
                                       data-rule-minlength="3" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 "> Zona Salario </label>
                            <div class="col-md-8">
                                @HtmlLocalHelper.ComboBox(selectListZonas, "IdZonaSalario", htmlAttributes: new Dictionary<string, object>() { { "data-rule-required", true } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label class="col-md-4">Empresas Fiscales</label>
                            <div class="col-md-8">

                                <select class="form-control selectpicker show-tick" name="itemsRP" multiple id="itemsRP" data-width="330px" data-actions-box="true" data-live-search="true" title="Selecciona la configuración" data-selected-text-format="count">
                                
                                        @if (listadoFis != null)
                                        {

                                            foreach (var item in listadoFis)
                                            {
                                                if (item.Seleccionado)
                                                {
                                                    <option value="@item.IdEmpresa" selected="selected">@item.NombreEmpresa</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.IdEmpresa">@item.NombreEmpresa</option>
                                                }

                                            }
                                        }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Empresas Complementos</label>
                            <div class="col-md-8">
                                <select id="itemsCom" name="itemsCom" class="selectpicker show-tick" multiple data-width="330px" data-actions-box="true" data-live-search="true" title="Selecciona la configuración" data-selected-text-format="count">

                                    @if (listadoCom != null)
                                    {

                                        foreach (var item in listadoCom)
                                        {
                                            if (item.Seleccionado)
                                            {
                                                <option value="@item.IdEmpresa" selected="selected">@item.NombreEmpresa</option>
                                            }
                                            else
                                            {
                                                <option value="@item.IdEmpresa">@item.NombreEmpresa</option>
                                            }

                                        }
                                    }
                                </select>


                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Empresas Sindicato</label>
                            <div class="col-md-8">
                                <select id="itemsSin" name="itemsSin" class="selectpicker show-tick" multiple data-width="330px" data-actions-box="true" data-live-search="true" title="Selecciona la configuración" data-selected-text-format="count">
                                    
                                    @if (listadoSin != null)
                                    {

                                        foreach (var item in listadoSin)
                                        {
                                            if (item.Seleccionado)
                                            {
                                                <option value="@item.IdEmpresa" selected="selected">@item.NombreEmpresa</option>
                                            }
                                            else
                                            {
                                                <option value="@item.IdEmpresa">@item.NombreEmpresa</option>
                                            }

                                        }
                                    }

                                </select>


                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Empresa Asimilado</label>
                            <div class="col-md-8">
                                <select id="itemsAsim" name="itemsAsim" class="selectpicker show-tick" multiple data-width="330px" data-actions-box="true" data-live-search="true" title="Selecciona la configuración" data-selected-text-format="count">

                                    @if (listadoAsim != null)
                                    {

                                        foreach (var item in listadoAsim)
                                        {
                                            if (item.Seleccionado)
                                            {
                                                <option value="@item.IdEmpresa" selected="selected">@item.NombreEmpresa</option>
                                            }
                                            else
                                            {
                                                <option value="@item.IdEmpresa">@item.NombreEmpresa</option>
                                            }

                                        }
                                    }

                                </select>


                            </div>

                        </div>

                    </div>



                </div>




             
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" id="idGuardar" class="btn btn-primary input-group-sm" value="Guardar" /> <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
    }

    <script src="~/Scripts/validator/jquery.validate.1.15.js"></script>
    <script src="~/Scripts/validator/messages_es.js"></script>
    <script src="~/Scripts/validator/TooltipValidator.js"></script>
    

    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script>

        $(document).ready(function () {
            var orderCount = 0;

            $(".selectpicker").selectpicker();


        });


    </script>

</div>
