@using Nomina.BLL
@using RH.Entidades
@model NOM_Finiquito
@{
    var empleado = ViewBag.empleado;
    int idFiniquito = Model == null ? 0 : Model.IdFiniquito;
    var finDet = ViewBag.finDet as List<finiquitoDetalle>;

    //decimal totalIndermizacion = proporcional20dias + L_20dias  ;


    }
<link href="~/Content/finiquitoFiscal.css" rel="stylesheet" />

<style>
       #titulo{
              position: fixed;
              top:5px;
              margin-top:-10px;
              
             
            }
       #botones{
           position: fixed;
              top:5px;
              margin-top:-10px;
       }
        .btnRecibos{
                    background-image: linear-gradient(to bottom, #fff 0%, #FF6A6A 100%) !important
                }
        .btnprocesado {
        background-image: linear-gradient(to bottom, #fff 0%, #337ab7 100%) !important;
    }
        .btngeneral {
                    background-image: linear-gradient(to bottom, #fff 0%, #BDBDBD 100%) !important
                }

</style>
<div id="titulo">
    <div class="main-content-title">
        <h4 class="pull-left">Finiquito @empleado.Paterno @empleado.Materno @empleado.Nombres </h4>
        
    </div>
</div>   

<div id="pvistaParcial">
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading clearfix text-center">

                    <div class="pull-left" style="margin-bottom:10px;">
                        <a data-toggle="modal" data-target="#modal-detalle" class="btn btn-default btngeneral" href="#">Detalles</a>
                        <a id="show" class="btn btn-default ocultar btngeneral" href="#">Totales</a>
                        <a class="btn btn-default btnprocesado" onclick="finiquito()">Procesar</a>
                        <a class="btn btn-default btnRecibos" onclick="recibopdf()">Recibos</a>
                    </div>
                    <div class="pull-right" style="margin-bottom:10px;">
                        <a class="btn btn-default btngeneral" href="#anclaFiscal">Sección Finiquito</a>
                        <div id="ancla2">
                        <a class="btn btn-default btngeneral" href="#Indemnizacion">Sección Indermización</a>
                        </div>
                            <input type="checkbox" id="checked" class="checked" />
                            <label>Calcular Indemnizacion</label>

                        </div>
                </div>
               
                <div class="panel-body">
                   
                        <input type="hidden" id="idFiniquito" value="@idFiniquito" />
                        <input type="hidden" id="idEmpleado" value="@empleado.idEmpleado" />
                 
                        @if (Model != null)
                        {
                            <div class="form-horizontal ">


                                @*Inicio formulario Fechas de alta y baja*@
                                <div class="col-md-8 col-md-offset-2">

                                    @*Etiqueta de los datos generales *@
                                    <div id="anclaFiscal">
                                        <div class="form-group">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#">Datos Generales</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2"> Fecha Alta</label>
                                        <div class="col-md-2">
                                            <input type="text" id="fechaAlta" name="fechaAlta" value="@(Model.FechaAlta.ToString("dd/MM/yyyy"))" class="form-control input-sm" disabled />

                                        </div>


                                        <label class="col-md-2">Fecha Baja</label>
                                        <div class="col-md-2">
                                            <input type="text" id="fechaBaja" name="fechaBaja" value="@Model.FechaBaja.ToString("dd/MM/yyyy")" class="form-control input-sm" disabled />

                                        </div>
                                        <label class="col-md-2">Días Ejercicio</label>
                                        <div class="col-md-2">
                                            <input type="text" id="diasEjercicio" name="diasEjercicio" value="@Model.DiasEjercicioFiscal" class="form-control input-sm" disabled />

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">Sueldo Diario - SD</label>
                                        <div class="col-md-2">
                                            <input type="text" id="sueldoDiario" name="sueldoDiario" value="@Model.SD" class="form-control input-sm" disabled />

                                        </div>

                                        <label class="col-md-2">Salario Mínimo </label>
                                        <div class="col-md-2">
                                            <input type="text" id="sm" name="sm" value="@Model.SalarioMinimo" class="form-control input-sm" disabled />

                                        </div>



                                    </div>

                                </div>

                                <div class="col-md-8 col-md-offset-2">
                                    <div class="form-group">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#">Datos Finiquito</a></li>
                                        </ul>
                                    </div>
                                    @*Dias Laborados y Dias Ejercicio*@
                                    <div class="form-group">
                                        <label class="col-md-3">Días Laborados</label>
                                        <div class="col-md-3">
                                            <input type="text" id="DiasLaborados" name="DiasLaborados" value="@Model.DiasLaborados" class="form-control input-sm" disabled />

                                        </div>

                                        <label class="col-md-3">Días Ejercicio</label>
                                        <div class="col-md-3">
                                            <input type="text" id="diasEjercicio" name="diasEjercicio" value="@Model.DiasEjercicioFiscal" class="form-control input-sm" disabled />

                                        </div>
                                    </div>
                                    @*Datos de Aguinaldo*@
                                    <div class="form-group">
                                        <label class="col-md-3">Fecha Inicio Aguinaldo</label>
                                        <div class="col-md-3">
                                            <input type="date" id="fechaAguinaldo" name="fechaAguinaldo" value="@Model.FechaInicioAguinaldo.ToString("yyyy-MM-dd")" class="form-control input-sm" />

                                        </div>

                                        <label class="col-md-3">Días para Cálculo</label>
                                        <div class="col-md-3">
                                            <input type="text" id="diasAguinaldoCalculo" name="diasAguinaldoCalculo" value="@Model.DiasAguinaldoParaCalculo" class="form-control input-sm" disabled />

                                        </div>
                                    </div>
                                    @*Datos de Vacaciones*@
                                    <div class="form-group">
                                        <label class="col-md-3">Fecha Inicio Vacaciones</label>
                                        <div class="col-md-3">
                                            <input type="date" id="fechaVacaciones" name="fechaVacaciones" value="@Model.FechaInicioVacacion.ToString("yyyy-MM-dd")" class="form-control input-sm" />

                                        </div>

                                        <label class="col-md-3">Días para Cálculo</label>
                                        <div class="col-md-3">
                                            <input type="text" id="diasVacacionesCalculo" name="diasVacacionesCalculo" value="@Model.DiasVacacionesParaCalculo" class="form-control input-sm" disabled />

                                        </div>
                                    </div>
                                    @*Datos Salarios*@
                                    <div class="form-group">
                                        <label class="col-md-3">Sueldo Diario - SD</label>
                                        <div class="col-md-3">
                                            <input type="text" id="sueldoDiario" name="sueldoDiario" value="@Model.SD" class="form-control input-sm" disabled />

                                        </div>

                                        <label class="col-md-3">Salario Mínimo </label>
                                        <div class="col-md-3">
                                            <input type="text" id="sm" name="sm" value="@Model.SalarioMinimo" class="form-control input-sm" disabled />

                                        </div>
                                    </div>
                                    @*Datos Aguinaldo Totales*@
                                    <div class="form-group">

                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#">Aguinaldo</a></li>

                                        </ul>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">Días</label>
                                        <div class="col-md-2">
                                            <input type="text" id="diasAguinaldo" name="diasAguinaldo" value="@Model.AguinaldoCorrespondiente" class="form-control input-sm" disabled />

                                        </div>

                                        <label class="col-md-2">Proporcional</label>
                                        <div class="col-md-2">
                                            <input type="text" id="proporcionalAguinaldo" name="proporcionalAguinaldo" value="@Model.ProporcionalAguinaldo" class="form-control input-sm" disabled />

                                        </div>
                                        <label class="col-md-2">Total Aguinaldo</label>
                                        <div class="col-md-2">
                                            <input type="text" id="totalAguinaldo" name="totalAguinaldo" value="@Model.AGUINDALDO" class="form-control input-sm" disabled />

                                        </div>

                                    </div>

                                    @*Datos Vacaciones*@
                                    <div class="form-group">

                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#">Vacaciones</a></li>

                                        </ul>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2">Días</label>
                                        <div class="col-md-2">
                                            <input type="text" id="diasVacaciones" name="diasVacaciones" value="@Model.VacacionesCorrespondiente" class="form-control input-sm" disabled />

                                        </div>

                                        <label class="col-md-2">Proporcional</label>
                                        <div class="col-md-2">
                                            <input type="text" id="proporcionalVacaciones" name="proporcionalVacaciones" value="@Model.ProporcionalVacaciones" class="form-control input-sm" disabled />

                                        </div>
                                        <label class="col-md-2">Total Vacaciones</label>
                                        <div class="col-md-2">
                                            <input type="text" id="totalVacaciones" name="totalVacaciones" value="@Model.VACACIONES" class="form-control input-sm" disabled />

                                        </div>
                                    </div>

                                    @*Datos Sueldo pendiente*@
                                    <div class="form-group">
                                        @*<label class="col-md-12">Sueldo Pendiente</label>
                            <hr align="left" noshade="noshade" width="100%" style="color: black; height:2px" />*@
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#">Sueldo Pendiente</a></li>

                                        </ul>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">Días Sueldo Pendiente</label>
                                        <div class="col-md-3">
                                            <input type="text" id="diasSueldoPendiente" name="diasSueldoPendiente" value="@Model.DiasSueldoPendiente" class="form-control input-sm" />

                                        </div>
                                        <label class="col-md-3">Total</label>
                                        <div class="col-md-3">
                                            <input type="text" id="totalSueldoPendiente" name="totalSueldoPendiente" value="@Model.SUELDO" class="form-control input-sm" disabled />

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">Días Vacaciones Pendientes</label>
                                        <div class="col-md-3">
                                            <input type="text" id="diasVacacionesPendientes" name="diasVacacionesPendientes" value="@Model.VacacionesPendientes" class="form-control input-sm" />

                                        </div>
                                        <label class="col-md-3">Total</label>
                                        <div class="col-md-3">
                                            <input type="text" id="totalVacacionesPendientes" name="totalVacacionesPendientes" value="@Model.VACACIONES_PENDIENTE" class="form-control input-sm" disabled />

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">Prima Vacacional Pendiente</label>
                                        <div class="col-md-3">
                                            <input type="text" id="primaVacacionalPendiente" name="primaVacacionalPendiente" value="@Model.PrimaVacacionPendiente" class="form-control input-sm" disabled />

                                        </div>
                                        <label class="col-md-3">Total</label>
                                        <div class="col-md-3">
                                            <input type="text" id="totalPrimaVacacionalPendiente" name="totalPrimaVacacionalPendiente" value="@Model.PRIMA_VACACIONES_PENDIENTE" class="form-control input-sm" disabled />

                                        </div>
                                    </div>

                                </div>
                                @*-----------------------------------------------
                      -------------Seccion de Indemmizacion----------
                    ------------------------------------------------- *@

                                <div id="SeccionIndermizacion">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="col-md-12">
                                                @*Etiqueta de los datos generales *@

                                                <div class="form-group">
                                                    <ul class="nav nav-tabs" style="text-align:center;">
                                                        <li class="active" id="Indemnizacion"><a href="#">DATOS INDEMMIZACIÓN </a></li>

                                                    </ul>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-3"> Salario Diario</label>
                                                    <div class="col-md-4">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.SD" class="form-control input-sm" disabled />

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <ul class="nav nav-tabs" style="text-align:center;">
                                                        <li class="active"><a href="#">Indermizacion</a></li>

                                                    </ul>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3">Meses Salario(días)</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="mesesSalario" name="mesesSalario" value="@Model.L_3Meses_SueldoParaCalculo" class="form-control input-sm" />

                                                    </div>

                                                    <label class="col-md-3">Total</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.L_3MESES_SUELDO" class="form-control input-sm" disabled />

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3">Días por año de Servicio</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.Proporcional20DiasPorAño" class="form-control input-sm" disabled />

                                                    </div>

                                                    <label class="col-md-3">Total</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.L_20DIAS_POR_AÑO" class="form-control input-sm" disabled />

                                                    </div>


                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3">Total Indemmización </label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="0" class="form-control input-sm" disabled />

                                                    </div>
                                                </div>
                                            </div>
                                            @*---------------------------------------
                                ---------Prima Antigüedad-------------
                                --------------------------------------*@
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <ul class="nav nav-tabs" style="text-align:center;">
                                                        <li class="active"><a href="#">Prima Antigüedad</a></li>

                                                    </ul>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3">Días de prima por año</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="12" class="form-control input-sm" disabled />

                                                    </div>

                                                    <label class="col-md-3">Prima Antiguedad</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.ProporcionalPrimaAntiguedad" class="form-control input-sm" disabled />

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3">Total</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.PRIMA_ANTIGUEDAD" class="form-control input-sm" disabled />

                                                    </div>
                                                </div>

                                            </div>
                                            @*--------------------------------------------------
                                ----------------------ISR-------------------------
                                --------------------------------------------------*@
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <ul class="nav nav-tabs" style="text-align:center;">
                                                        <li class="active"><a href="#">ISR</a></li>

                                                    </ul>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3">Último Sueldo</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.BaseGravableUltimoSueldo" class="form-control input-sm" disabled />

                                                    </div>

                                                    <label class="col-md-3">ISR Último Sueldo</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.ISR_UltimoSueldo" class="form-control input-sm" disabled />

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3">Tasa para Liquidación</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.TasaParaLiquidacion" class="form-control input-sm" disabled />

                                                    </div>
                                                    <label class="col-md-3">ISR liquidación</label>
                                                    <div class="col-md-3">
                                                        <input type="text" id="fechaAlta" name="fechaAlta" value="@Model.ISR_Liquidacion" class="form-control input-sm" disabled />

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                
                </div>
            </div>
        </div>
    
<div id="barraStatica">
    @if(Model != null)
    {
    <div class="form-horizontal">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3">Subtotal</label>
                    <div class="col-md-3">
                        <input type="text" id="subtotal" name="subtotal" value="@Model.SubTotal_FiniquitoF" class="form-control input-sm" />

                    </div>

                    <label class="col-md-3">ISR</label>
                    <div class="col-md-3">
                        <input type="text" id="isr" name="isr" value="@Model.ISR_FiniquitoF" class="form-control input-sm" />

                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-3">Subsidio </label>
                    <div class="col-md-3">
                        <input type="text" id="subsidio" name="subsidio" value="@Model.Subsidio_FiniquitoF" class="form-control input-sm" />

                    </div>
                    <label class="col-md-3">Total Finiquito</label>
                    <div class="col-md-3">
                        <input type="text" id="totalFiniquito" name="totalFiniquito" value="@Model.Total_FiniquitoF" class="form-control input-sm" />

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-3">Total General</label>
                    <div class="col-md-3">
                        <input type="text" id="netoTotal" name="netoTotal" value="@Model.TOTAL_totalF" class="form-control input-sm" />

                    </div>
                    <div id="indermizacionTotales">
                        <label class="col-md-3">Liquidación</label>
                        <div class="col-md-3">
                            <input type="text" id="netoTotal" name="netoTotal" value="@Model.SubTotal_LiquidacionF" class="form-control input-sm" />

                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <div id="indermizacionTotales2">
                            <label class="col-md-3">ISR Liquidación</label>
                            <div class="col-md-3">
                                <input type="text" id="netoTotal" name="netoTotal" value="@Model.ISR_LiquidacionF" class="form-control input-sm" />

                            </div>

                            <label class="col-md-3">Total Liquidación</label>
                            <div class="col-md-3">
                                <input type="text" id="netoTotal" name="netoTotal" value="@Model.Total_LiquidacionF" class="form-control input-sm" />

                            </div>
                        </div>
                    </div>
               
            </div>
        

        </div>

    </div>
    }
</div>
                @* ------------------------------------------------------------------------------
                ---------------------------------------------------------------------------------
                ----------------------Botones de barra lateral derecha---------------------------
                ---------------------------------------------------------------------------------
                ---------------------------------------------------------------------------------
                *@
    @*<div id="dock-container">
        <div id="dock">
            <ul>
                <li><span>Detalles</span><a data-toggle="modal" data-target="#modal-detalle" href="#"><img src="~/Images/detallesFiniquito.png" /></a></li>
                
                <li><span>Totales</span><a id="show" class="ocultar" href="#"><img src="~/Images/totales.png" /></a></li>
            </ul>
            <div class="base"></div>
        </div>
    </div>*@

    @*<div id="ancla-container">
        <div id="ancla">
            <ul>
                <li><span>Datos Finiquitos</span><a href="#anclaFiscal"><img src="~/Images/seccion1.png" /></a></li>
                <li><div id="ancla2"><span>Datos Indemnizacion</span></div></li>

            </ul>
            <div class="anclabase"></div>
        </div>
    </div>*@
    </div>

<div class="modal fade" id="modal-detalle" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalle Finiquito</h4>
            </div>
            <div class="modal-body">
                <div class="bodyDetalles">
                    <table id="detalleFiniquito" class="table table-condensed  table-striped display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th id="click">ID Concepto</th>
                                <th>Descripción</th>
                                <th>Total</th>
                                <th>Exento</th>
                                <th>Gravado</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (finDet == null)
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                </tr>
                            }
                            else
                            {
                                foreach (var d in finDet)
                                {
                                    <tr>
                                        <td>@d.IdConcepto</td>
                                        <td>@d.Descripcion</td>
                                        <td>@d.Total</td>
                                        <td>@d.Exento</td>
                                        <td>@d.Gravado</td>
                                    </tr>
                                }
                            }
                            
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

    <script languague="javascript">


        $("#modal-detalle")
            .on("shown.bs.modal",
                function() {
                    detalle = $('#detalleFiniquito')
                        .DataTable({
                            "scrollY": "500px",
                            "scrollCollapse": true,
                            "paging": false,
                            "searching": false,
                            "bInfo": false
                        });
                });

        $("#show")
            .click(function() {
                if ($('#show').hasClass('ocultar')) {
                    $("#barraStatica").show();
                    $(this).removeClass('ocultar');
                } else {
                    $("#barraStatica").hide();
                    $(this).addClass('ocultar');
                }

            });

        $("#checked")
            .click(function() {
                if ($("#checked").is(':checked')) {
                    $('#SeccionIndermizacion').show();
                    $('#botonTotalIndemnizacion').show();
                    $('#indermizacionTotales').show();
                    $('#indermizacionTotales2').show();
                    $('#indemnizacion').show();
                    $('#ancla2').css("display", "inline");
                } else {
                    $('#SeccionIndermizacion').hide();
                    $('#botonTotalIndemnizacion').hide();
                    $('#indermizacionTotales').hide();
                    $('#indermizacionTotales2').hide();
                    $('#indemnizacion').hide();
                    $('#ancla2').hide();
                }
            });


        function finiquito() {
            var arrayFiniquito = [];

            if ($("#checked").is(':checked')) {
                var calcularLiquidacion = true;
            } else {
                var calcularLiquidacion = false;
            }


            var fechaAguinaldoF = $('#fechaAguinaldo').val();
            var fechaVacacionesF = $('#fechaVacaciones').val();
            var diasSueldoPendienteF = $('#diasSueldoPendiente').val();
            var diasVacacionesPendientesF = $('#diasVacacionesPendientes').val();
            var mesesSalarioF = $('#mesesSalario').val();

            var fechaAguinaldoC = $('#fechaAguinaldo').val();
            var fechaVacacionesC = $('#fechaVacaciones').val();
            var diasSueldoPendienteC = $('#diasSueldoPendiente').val();
            var diasVacacionesPendientesC = $('#diasVacacionesPendientes').val();
            var mesesSalarioC = $('#mesesSalario').val();


            var idFiniquito = document.getElementById("idFiniquito").value;
            var idEmpleado = document.getElementById("idEmpleado").value;

            //$("#pvistaParcial").load("/Finiquito/finiquito/?idEmpleado=" + idEmpleado + "&idFiniquito=" + idFiniquito);


            item = {};
            $("#checked")
                .click(function() {
                    if ($("#checked").is(':checked')) {
                        item['MesesSalarioF'] = mesesSalarioF;
                    } else {
                        item['MesesSalarioF'] = 0;
                    }
                });

            if ($("#checked").is(':checked') == false) {
                item['MesesSalarioF'] = 0;
            }

            item['FechaAguinaldoF'] = fechaAguinaldoF;
            item['FechaVacacionesF'] = fechaVacacionesF;
            item['DiasSueldoPendientesF'] = parseFloat(diasSueldoPendienteF);
            item['DiasVacacionesPendientesF'] = diasVacacionesPendientesF;


            arrayFiniquito.push(item);

            console.log(arrayFiniquito);
            var request = $.ajax({
                url: "/Finiquito/finiquito/",
                method: "POST",
                data: {
                    idEmpleado: idEmpleado,
                    idFiniquito: idFiniquito,
                    arrayF: item,
                    calcularLiquidacion: calcularLiquidacion
                },

            });
            request.done(function(data) {
                //alert("Entro");
                utils.loadMainPage("Finiquito", "Index", "#main-content", "false", null);

            });
        }

      function recibopdf()
        {
          var idFiniquito = document.getElementById("idFiniquito").value;

          var form = document.createElement("form");
          form.setAttribute("method", "post");
          form.setAttribute("action", "/Finiquito/GetRecibos");
          form._submit_function_ = form.submit;

          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", "idFiniquito");
          hiddenField.setAttribute("value", idFiniquito);
          form.appendChild(hiddenField);

          document.body.appendChild(form);
          form._submit_function_();
        //  t = setTimeout(function () { btnDowRecibos.removeClass('disabled'); }, 5000);

          //var request = $.ajax({
          //    url: "/Finiquito/GetRecibos/",
          //    method: "POST",
          //    data: {
          //        idFiniquito: idFiniquito
          //    }

          //});
          //request.done(function (data) {
          //    //alert("Entro");
          //    utils.loadMainPage("Finiquito", "Index", "#main-content", "false", null);

          //});
        }

    </script>
