
@using Nomina.BLL
@using RH.BLL
@using Common.Utils
@model DatosLayout
@{
    var periodo = ViewBag.periodo;
    var empresa = ViewBag.empresa;
    int count = 0;
}
<table id="EmpleadosTesoreria" class="display EmpleadosTesoreria" width="100%">
    <thead>
        <tr>
            <th>No Siga</th>
            <th>Cuenta bancaria</th>

            <th>Empleado</th>
            <th>Empresa</th>
            <th>No Emisor</th>
            <th>Importe</th>
            <th>Generado</th>
        </tr>
    </thead>
    <tbody>
                <tr data-siga="@Model.NoSiga2" data-idempleado="@Model.IdEmpleado" data-emisor="@Model.NoEmisor" data-importe="@Model.Importe" data-numerocuenta="@Model.CuentaBancaria" data-emisora="@Model.NoEmisor">
                    <td>@Model.NoSiga2</td>
                    <td>@Model.CuentaBancaria</td>
                    <td>@Model.Paterno @Model.Materno @Model.Nombres</td>
                    <td>@Model.NombreEmpresa</td>
                    <td>@Model.NoEmisor</td>
                    <td>@Utils.TruncateDecimalesAbc(Model.Importe,2)</td>
                    <td><input type="checkbox" /></td>
                </tr>
    </tbody>
</table>


<script>
    var table = $("table.EmpleadosTesoreria").DataTable({
        dom: 'Bfrtip',
        scrollY: '280px',
        scrollX: true,
        scrollCollapse: true,
        paging: false,
        "language": { "url": "../scripts/datatables-spanish.json" },
        info: false,
        select: {
            style: 'multi'
        },
        "fixedColumns": {
            leftColumns: 2,
            rightColumns: 1

        },
        "buttons": [
        {
            className: 'seleccionarall',
            text: 'Seleccionar: Todos',
            action: function () {
                table.rows().select();
                $(this).toggleClass('selected');

                var count = table.rows('.selected').count();

                $("#totalEmpleados").val(count);

                var selected = $("#EmpleadosTesoreria").find(".selected");

                var contador = 0;
                selected.each(function () {
                    var importe = parseFloat($(this).data("importe"));
                    contador = contador + importe;

                });
                $("#importeTotal").val(contador);
            }, key: {
                key: 'a',

            }
        },
        {
            className: 'seleccionarcero',
            text: 'Seleccionar: Ninguno',
            action: function () {
                table.rows().deselect();
                $(this).toggleClass('selected');

                var count = table.rows('.selected').count();

                $("#totalEmpleados").val(count);

                var selected = $("#EmpleadosTesoreria").find(".selected");

                var contador = 0;
                selected.each(function () {
                    var importe = parseFloat($(this).data("importe"));
                    contador = contador + importe;

                });
                $("#importeTotal").val(contador);

            }
        },
                {
                    className: 'seleccionarcero',
                    text: '<i class="fa fa-download"></i> Crear Layout',
                    action: function () {
                        $(this).toggleClass('selected');
                        var selected = $("#EmpleadosTesoreria").find(".selected");
                        var contador = 0;

                        var fecha = $("#fecha").val().replace(new RegExp('-', 'g'), "");
                        var Encabezado = {};
                        Encabezado["TipoRegistro"] = "H";
                        Encabezado["ClaveServicio"] = "NE";

                        Encabezado["Fecha"] = fecha;
                        Encabezado["Consecutivo"] = $("#consecutivo").val();
                        Encabezado["TotalEmpleados"] = $("#totalEmpleados").val();
                        Encabezado["ImporteTotal"] = $("#importeTotal").val();

                        console.log(Encabezado);

                        var Detalle = [];
                        var Emisoras = [];
                        selected.each(function () {
                            item = {}
                            itemEmisoras = {};
                            item["TipoRegistro"] = "D";
                            item["Fecha"] = fecha;
                            item["NoSiga1"] = parseInt($(this).data("siga"));
                            item["importe"] = parseFloat($(this).data("importe"));
                            item["Banco"] = 72;
                            item["TipoCuenta"] = 1;
                            item["CuentaBancaria"] = parseInt($(this).data("numerocuenta"));
                            item["NoEmisor"] = parseInt($(this).data("emisora"));
                            itemEmisoras["NoEmisor"] = parseInt($(this).data("emisora"));
                            Detalle.push(item);
                            Emisoras.push(itemEmisoras);
                        });
                        console.log(Detalle);

                        var request = $.ajax({
                            url: "/Layout/crearLayout/",
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                Encabezado: Encabezado,
                                Detalle: Detalle,
                                Emisoras: Emisoras
                            }),
                            dataType: "json",
                            beforeSend: function () {
                                waitingDialog.show('Generando Layout-......');

                            }
                        });
                        request.done(function (data) {
                            waitingDialog.hide();


                            var newdata = JSON.stringify(data);
                            var newdata2 = data.toString()
                            var ruta = []

                            rute = newdata2.split(",");

                            var contador = rute.length;
                            $("#consecutivo").val(contador);
                            for (var i = 0; i < contador; i++) {

                                //window.location.href = "/Layout/descargarLayout?ruta=" + rute[i] + "&Token=9014901"
                                window.open('/Layout/descargarLayout?ruta=' + rute[i], '_blank');

                            }

                        })
                    }
                },


        ],

    });

    $('#EmpleadosTesoreria tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');

        var count = table.rows('.selected').count();

        $("#totalEmpleados").val(count);

        var selected = $("#EmpleadosTesoreria").find(".selected");

        var contador = 0;
        selected.each(function () {
            var importe = parseFloat($(this).data("importe"));
            contador = contador + importe;

        });
        $("#importeTotal").val(contador);

    });

</script>