

@model  List<RH.Entidades.Permisos>

<style>
    .modal-dialog {
        width: 1100px !important;
    }
</style>

<div class="tab-content">

        <table class="table table-condensed tblInnactivos table-hover" id="tblInnactivos" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID Empleado</th>
                    <th>ID Permiso</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Presentarse</th>              
                    <th>Horas</th>
                    <th>Con Goce</th>
                    <th>Observaciones</th>
                


                </tr>
            </thead>
            <tbody>

                @foreach (var a in Model.Where(s => s.PorHoras == true))
                {
                    <tr id="@a.IdPermiso" data-id="@a.IdPermiso">
                        <td class="text-center"><input type="checkbox" name="input-permisos" value="@a.IdPermiso" id="input@(a.IdPermiso)" /></td>
                        <td class="idEmpleado2">@a.IdEmpleado</td>
                        <td class="idPermiso2">@a.IdPermiso</td>
                        <td>@a.FechaInicio.ToString("dd/MM/yyyy")</td>
                        <td>@a.FechaFin.ToString("dd/MM/yyyy")</td>
                        <td>@a.Presentarse.ToString("dd/MM/yyyy")</td>
                       
                        <td>@a.Horas</td>
                        <td>
                            @if (a.ConGoce == true)
                            {
                                <input type="checkbox" checked />
                            }
                            else {  <input type="checkbox" disabled />}
                        </td>
                       
                        <td>@a.Observaciones</td>
                     

                    </tr>
                }
            </tbody>
        </table>
  
</div>
<script type="text/javascript">
    

   

    var table = $("table.tblInnactivos").DataTable({
            "bLengthChange": false,

            "lengthMenu": [[5, 15, 30], [5, 15, 30]],
            "language": {
                "sInfoFiltered": "(filtrado de un total de _MAX_ Registros)",

                "sZeroRecords": "No se encontraron resultados",
                "sInfo": "Del _START_ al _END_ de un total de _TOTAL_ registros",
                "infoEmpty": "No se encontraron registros",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sLoadingRecords": "Cargando...",
                "sLengthMenu": "Mostrar _MENU_ Registros",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                select: {
                    row: {
                        _: "Seleccionados: %d ",
                        0: "Has click en los registros para seleccionarlos"
                    }
                }
            },
            "order": [[1, "asc"]],
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] },
                { "bSearchable": false, "aTargets": [0] }
            ],
            select: {
                style: 'multi'
            }

        });
    var seleccionados = [];
    
    table.on('select', function (e, dt, type, indexes) {
        var rowData = table.rows(indexes).ids();
        checkSeleccionados();
        $("#input" + rowData[0]).prop("checked", true).change();
    });
    $('a[data-toggle="tab"]').on('shown.bs.tab', function () {
        $("input[name='input-permisos']").prop("checked", false);
        $("input[name='input-permisos']").change();
        table.rows().deselect();
    });

    function checkSeleccionados() {
        var seleccionados = table.rows(".selected").ids();
        if (seleccionados.length == 0) {
            $(".btn-toolbar-hidden").hide();
        }
        else if (seleccionados.length > 0) {
            $(".btn-toolbar-hidden").show();
        }

        return seleccionados;
    }

    table.on('deselect', function (e, dt, type, indexes) {
        var rowData = table.rows(indexes).ids();
        checkSeleccionados();
        $("#input" + rowData[0]).prop("checked", false).change();
    });

    $(".btn-toolbar-hidden").hide();

    

   
</script>

